@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

html,
body {
    font-family: "Lobster", cursive;
}

body {
    margin: 0;
}

a {
    color: black;
    display: block;
    text-decoration: none;
    line-height: 50px;
}

.menu-item-choose {
    transition: all 0.5s;
    position: relative;
    background-color: white;
    color: black;
    &:hover {
        background-color: black;
        color: white;
    }
}

.menu-style {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    margin: 0;
    border-bottom: 1px black solid;
    background-color: white;
}

.list-unstyled {
    list-style: none;
    margin: 0;
}

.menu-left {
    float: left;
}

.menu-item {
    font-size: 20px;
    float: left;
    position: relative;
}

.menu-item-link {
    width: 60px;
    height: 50px;
    padding: 0px 12px;
}

li.current {
    background-color: red;
}

.main-screen {
    width: 1000px;
    height: 500px;
    border-right: 1px black solid;
    border-left: 1px black solid;
    margin: 50px 100px;
    padding: 10px 30px;
}
